{
    "NEO4J_URI": "neo4j://127.0.0.1:7687",
    "NEO4J_USER": "neo4j",
    "NEO4J_PASSWORD": "200520yu",
    "PINECONE_API_KEY": "pcsk_5KrAjt_LAtUep3FRC28BzpmHEMQQ1UE8cLFy3HLvM2KTHJg8DkmA8fMaF6dho6SS4vTGmS",
    "PINECONE_ENVIRONMENT": "us-east-1-aws",
    "OPENAI_API_KEY": "REDACTED",
    "GOOGLE_MAPS_API_KEY": "AIzaSyB5yMwQo7k6ilAjWviqhVph_UrGKQMXL6Q",
    "YOUTUBE_API_KEY": ""
}
